<p><code>xmlrpc-message-umd</code> is a Javascript XMLRPC message builder. 
This module only provides a message builder; it does not make any request by itself.
Basically, it is just a small set of utils that create a correct “ready-to-be-sent” XMLRPC string.</p>

<p>This module is written using the <a href="https://github.com/umdjs/umd">UMD definition</a> of modules.
It enforces the <code>returnExports.js</code> pattern, which “defines a module that works in Node, AMD and browser globals”.</p>

<p>So you can use this module in the following contexts:</p>

<ul>
  <li>Node.js</li>
  <li>Browser globals</li>
  <li>AMD (with Require.js or any other AMD loader)</li>
</ul>
