    <nav class="navbar" id="bottom">
      <div class="container">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><i class="fa fa-arrow-circle-up"></i> Top</a></li>
        </ul>
      </div>
    </nav>
    <footer class="container" id="footer">
      <div class="row">
        <div class="col-3 col-xs-12 col-sm-12 col-lg-3">
          <ul>
            <li>
              <a class="btn btn-default" href="index.html"><i class="fa fa-home"></i> Home</a>
            </li>
            <li>
              <a class="btn btn-default" href="README.html"><i class="fa fa-info-circle"></i> README</a>
            </li>
            <li>
              <a class="btn btn-default" href="amd_tests.html"><i class="fa fa-cogs"></i> Tests (AMD)</a>
            </li>
            <li>
              <a class="btn btn-default" href="jsdoc/index.html"><i class="fa fa-code"></i> JS Doc</a>
            </li>
            <li>
              <a class="btn btn-default" href="LICENSE.html"><i class="fa fa-legal"></i> License</a>
            </li>
          </ul>
        </div>
        <div class="col-3 col-xs-12 col-sm-12 col-lg-3">
          <ul>
            <li>
              <a class="btn btn-default" href="https://github.com/T1st3/{{ page.title }}"><i class="fa fa-github"></i> Github</a>
            </li>
            <li>
              <a class="btn btn-default" href="https://www.npmjs.org/package/{{ page.title }}"><img src="assets/img/vendor/npm-16x16.png"> NPM</a>
            </li>
            <li>
              <a class="btn btn-default" href="https://david-dm.org/t1st3/{{ page.title }}"><img src="assets/img/vendor/david-dm-16x16.png"> David</a>
            </li>
            <li>
              <a class="btn btn-default" href="https://travis-ci.org/T1st3/{{ page.title }}"><img src="assets/img/vendor/travis-ci-16x16.png"> Travis</a>
            </li>
          </ul>
        </div>
        <div class="col-3 col-xs-12 col-sm-12 col-lg-3">
          
        </div>
        <div class="col-3 col-xs-12 col-sm-12 col-lg-3">
          <ul>
            <li>
              <a class="btn btn-default" href="http://t1st3.github.io"><img src="assets/img/gravatar-16x16.png"> Author</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>

