<p>
  A small XMLRPC message builder.
</p>
<h2>Demo (using AMD modules)</h2>
<p>

</p>
<pre class="js">
  <code class="js">
var a = ["chicken","duck","goose"];
var obj = new Object();
obj.x = 20;
obj.y = "cow";
obj.z = 3.14;
var date = new Date();
var msg = new XMLRPCMessage();
msg.setMethod("system.myMethod");
msg.addParameter("mississippi");
msg.addParameter(7);
msg.addParameter(false);
msg.addParameter(a);
msg.addParameter(obj);
msg.addParameter(date);
msg.xml();
  </code>
</pre>
<p></p>
<p>
  <a class="btn btn-primary" id="in">Do it!</a> | 
  <a class="btn btn-warning" id="reset">Reset</a><br><br>
</p>
<br><br>will output:<br><br>
<textarea style="width: 100%; color: #000; min-height: 400px; overflow: auto; margin: 0 auto; display: block;" id="result"></textarea>

